@font-face {
    font-family: 'NeueHaasDisplayRoman';
    src: url('/fonts/NeueHaasDisplayRoman.ttf') format('woff2');
}
@font-face {
    font-family: 'NeueHaasDisplayLight';
    src: url('../fonts/NeueHaasDisplayLight.ttf') format('woff2');
}

@font-face {
    font-family: 'MoonieEyes';
    src: url('../fonts/MoonieEyes.otf') format('woff2');
}

@font-face {
    font-family: 'PowerGrotesk-Regular';
    src: url('../fonts/PowerGrotesk-Regular.otf') format('woff2');
}