*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #171717;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}